<!DOCTYPE html>
<html>
    <title>About Me</title>
    <head>
        <link rel="icon" type="image/png" href="../imgs/world-wide-web.png"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/navMenu.css">
    </head>
    <div id="pancakeMenu" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="../index.html" class="tilt-right">Home</a>
            <a href="blog.html" class="tilt-left">Writings</a>
            <a href="Experience.html" class="flip-vertical">Experience</a>
            <a href="JMusialResume.pdf" target="_blank" class="rotate-full">Resume</a>
            <a href="contact.html" class="no-transform">Contact</a>
          </div>          
    </div>
    <body>
        <span style="font-size:30px;cursor:url('../cursors/CursorsXP.cur'), auto;" onclick="openNav()">&#9776;</span>
        <span style="float: right;" onclick="dark()"><img id="icon" style="height: 20px; width: 20px;cursor:url('../cursors/CursorsXP.cur'), auto;" src="imgs/moon.png"></span>
        <h1>About Me</h1>
        <p>
            <div id="parent">
                <div id="picOfMe" style="padding-right: 50px;">
                    <img src="../imgs/trunks.png" alt="me" style="float:right;height:500px;">
                </div>
                <div id="parag" style="margin-left: 10px;">
                    <br/>
                    <p>
                        Hi, Im Jonah, a dedicated and driven finance student with a deep enthusiasm for understanding macroeconomic trends, evolving capital markets, and client-centered solutions. My unique background includes competing at the collegiate and professional levels in the sport of bowling, as well as gaining valuable game theory knowledge working in the gaming industry. These experiences have sharpened my leadership, collaboration, and strategic decision-making skills. With a focus on investment solutions, risk analysis, and corporate finance, I will leverage my analytical mindset and direct communication skills to deliver impactful financial solutions.

                    </p>
                    <ul>
                        <li>Birthday:  08/15/03</li>
                        <li>Phone: +1 two48 345 6634</li>
                        <li>Home: Detroit, MI </li>
                        <li>University of Michigan-Dearborn</li>
                        <li>Email:  jonahmus AT umich.edu</li>
                    </ul> 
                    <h2>Interests</h2>
                    <ul>
                        <li>Bitcoin</li>
                        <li>  Detroit Lions </li>
                        <li> Chess </li>
                        <li>  Golf  </li>
                        <li> Poker </li>
                        <li>The Office </li>
        
                    </ul> 
                </div>
            </div>
        </p>
        <script defer src="../javascript/main.js"></script>
        <script defer src="../javascript/navMenu.js"></script>
    </body>
</html>